<div class="row">
    <%= form_for([@card,@reply], html: { class: "w-100 mx-3"}) do |c| %>
        <%= c.hidden_field :user_id, value: current_user.id %>
        <%= c.hidden_field :card_id, value: @card.id %>
        <%= c.label :content %>
        <div class="form-group cal-10">
           
            <%= c.text_field :content, class: "form-control" %>
        </div>
        <div class="form-group cal-2">
            <%= button_to "댓글", card_replies_path(@card,@reply), method: :post, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>