<div class="container mt-5">
    <%= form_for(@card) do |c| %>
        <%= c.hidden_field :user_id, value: current_user.id %>
        <div class="form-group">
            <%= c.label :title %>
            <%= c.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= c.label :content %>
            <%= c.text_area :content, :class => "tinymce", :rows => 20, :cols => 120 %>
            <%= tinymce %>
        </div>
        <div class="form-group">
            <%=c.label :image%>
            <%=c.file_field :image%>
        </div>
        <div class="form-group">
            <%= button_to "고치기", card_path(@card), method: :patch, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>