<div class="container mt-5">
  <div class="card">
    <div class="card-header text-right">
      <%= @card.created_at %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @card.title %></h5>
      <%= image_tag @card.image, class: "w-100" %>
      <p class="card-text"><%= @card.content.html_safe %></p>
      <% if current_user.id == @card.user.id %>
        <%= link_to fa_icon("pencil", text: "수정하기"), edit_card_path(@card), class: "btn btn-warning text-white" %>
        <%= link_to fa_icon("trash", text: "삭제하기"), card_path(@card), method: :delete,class: "btn btn-danger", data: {confirm: "정말 삭제하겠습니까?"} %>
      <% end %>
    </div>
    <div class="card-footer text-muted text-right">
      <%= render 'replies/create' %>
      <%= render 'replies/index' %>
    </div>
  </div>
</div>