<div class="container mt-5">
    <%= form_for(@memo) do |m| %>
        <div class="form-group">
            <%= m.label :title %>
            <%= m.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= m.label :content %>
            <%= m.text_area :content, :class => "tinymce", :rows => 20, :cols => 120 %>
            <%= tinymce %>
        </div>
        <div class="form-group">
            <%= button_to "고치기", memo_path(@memo), method: :patch, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>