<%= form_for(@memo) do |m| %>
    <div class="form-group">
        <%= m.label :title %>
        <%= m.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= m.label :content %>
        <%= m.text_area :content, class: "form-control", row: 3 %>
    </div>
    <div class="form-group">
        <%= button_to "글쓰기", memos_path, method: :post, class: "btn btn-primary" %>
    </div>
<% end %>