<div class="container mt-5">
    <%= form_for(@trade, html: { multipart: true }) do |c| %>
        <%= c.hidden_field :user_id, value: current_user.id %>
        <div class="form-group">
            <%= t 'views.trade.variety' %><br/>
            <%= c.select :variety, ['옷', '책', '기타'] %>
        </div>
        <div class="form-group">
            <%= t 'views.trade.title' %>
            <%= c.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= t 'views.trade.kakaoid' %>
            <%= c.text_field :kakaoid, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= t 'views.trade.content' %>
            <%= c.text_area :content, :class => "tinymce", :rows => 20, :cols => 120 %>
            <%= tinymce %>
        </div>
        <div class="form-group">
            <%= t 'views.trade.image'%>
            <%=c.file_field(:image, accept: 'image/*', class: 'form-control', onchange: "picChange(event)") %>
        </div>
        <div class="form-group">
            <%= button_to "수정하기", trade_path, method: :patch, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>