<header class="w-100 header-card">
    <div class="container h-100 d-flex flex-column justify-content-center">
      <div class="d-flex flex-row justify-content-between">
        <h2>물물장터</h2>
        <p align="right">
          <%= link_to "글쓰기", new_trade_path, class: "btn btn-primary" %>
        </p>
        
      </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row">
        <% @trades.each do |c| %>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card my-2" >
                  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                  <%#= image_tag c.image.thumb, class: "card-img-top"  %>
                  <div class="card-body">
                    <h5 class="card-title"><%= c.title.first(15) %></h5>
                    <h5 class="text-muted">@<%= c.kakaoid %></h5>
                    <%= link_to "Show", trade_path(c), class: "btn btn-primary" %>
                  </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row justify-content-center align-items-center">
        <%= paginate @trades, theme: 'twitter-bootstrap-4'%>
    </div>
</div>