<!DOCTYPE html>
<html>
  <head>
    <title>Namsan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <link rel="icon" href="../flower.png" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="http://www.수선화안녕.com" />
    <meta property="og:title" content="수선화안녕" />
    <meta property="og:description" content="남산고등학교 학생커뮤니티입니다" />
    <meta property="og:image" content="http://www.수선화안녕.com/daffodill.png" />
    <meta name="robots" content="all" />
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_message' %>
    <%= yield %>
  </body>
</html>
